.about-section {
  background-color: #010102;
  padding: 50px 20px;
  text-align: center;
}

.about-title {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #db1212;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
  color: #ece5e5;
}
